.button-animated {
    -fx-background-color: #4CAF50; /* зеленый цвет */
    -fx-text-fill: #FFFFFF; /* белый текст */
    -fx-font-size: 16; /* размер шрифта */
    -fx-font-weight: bold; /* жирный шрифт */
    -fx-border-width: 2; /* ширина границы */
    -fx-border-color: #3e8e41; /* зеленая граница */
    -fx-border-radius: 5; /* радиус границы */
    -fx-padding: 10; /* отступы */
    -fx-cursor: hand; /* курсор в виде руки */

    /* анимация при наведении */
    -fx-transition: background-color 0.3s, border-color 0.3s;
}

.button-animated:hover {
    -fx-background-color: #3e8e41; /* темно-зеленый цвет при наведении */
    -fx-border-color: #4CAF50; /* зеленая граница при наведении */
}

.button-animated:pressed {
    -fx-background-color: #2e6c31; /* темно-зеленый цвет при нажатии */
    -fx-border-color: #3e8e41; /* зеленая граница при нажатии */
    -fx-scale-x: 0.9; /* масштабирование по горизонтали */
    -fx-scale-y: 0.9; /* масштабирование по вертикали */
    -fx-translate-x: 2; /* смещение по горизонтали */
    -fx-translate-y: 2; /* смещение по вертикали */
}

.button-orange {
    -fx-background-color: #FFA07A; /* оранжевый цвет */
    -fx-text-fill: #FFFFFF; /* белый текст */
    -fx-font-size: 16; /* размер шрифта */
    -fx-font-weight: bold; /* жирный шрифт */
    -fx-border-width: 2; /* ширина границы */
    -fx-border-color: #FFC107; /* оранжевая граница */
    -fx-border-radius: 5; /* радиус границы */
    -fx-padding: 10; /* отступы */
    -fx-cursor: hand; /* курсор в виде руки */

    /* анимация при наведении */
    -fx-transition: background-color 0.3s, border-color 0.3s;
}

.button-orange:hover {
    -fx-background-color: #FFC107; /* темно-оранжевый цвет при наведении */
    -fx-border-color: #FFA07A; /* оранжевая граница при наведении */
}

.button-orange:pressed {
    -fx-background-color: #FF9900; /* темно-оранжевый цвет при нажатии */
    -fx-border-color: #FFC107; /* оранжевая граница при нажатии */
    -fx-scale-x: 0.9; /* масштабирование по горизонтали */
    -fx-scale-y: 0.9; /* масштабирование по вертикали */
    -fx-translate-x: 2; /* смещение по горизонтали */
    -fx-translate-y: 2; /* смещение по вертикали */
}